
<h3> hi <%= @user.name %>!</h3>

<h4>Your favorite sights</h4>
<ul>
  <% @user.sights.each do |user_sight| %>
  <li><%= user_sight.name %></li>
  <%end %>
</ul>
<h4>Your upcoming events</h4>
<ul>
  <% @user.events.each do |user_event| %>
  <li><%= user_event.name %></li>
  <%end %>
</ul>
<h4>Your site funds</h4>
<ul>
  <% @user.sight_funds.each do |sight_fund| %>
  <li><%= sight_fund.sight.name %></li>
  <li><%= sight_fund.donation.amount %></li>
  <%end %>
</ul>


<%=button_to 'all da events', events_path, method: :get %>
<%=button_to 'all da sights', sights_path, method: :get %>
<%= button_to 'Logout', logout_path, method: :delete %>

<% if current_user.id == @user.id %>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'are you sure?' } %>
<% end %>





<%=button_to 'donate to an ongoing project', sight_funds_path, method: :get%>
