

<form class="ui form">

  <h1>New Event</h1>

<%= form_for @user do |f| %>
  <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
<% end %>
</div>

<%= link_to 'Back', events_path %>
</div>
