<div class="ui secondary pointing menu">
  <a class="item">
    <%=link_to 'Home', user_path(current_user), method: :get %>
  </a>
  <a class="item">
    <%=link_to 'Events', events_path, method: :get %>
  </a>
  <a class="item">
    <%=link_to 'Sights', sights_path, method: :get %>
  </a>
  <a class="item">
    <%=link_to 'Donate', sight_funds_path, method: :get%>
  </a>
  <div class="right menu">
    <a class="ui item">
      <%=link_to 'Logout', logout_path, method: :delete %>
    </a>
  </div>
</div>

<div class="grid_index">
  <% @sights.each do |sight|%>
  <li class="grid_index_data">
    <%= link_to sight_path(sight) do %>
      <%= image_tag "/assets/#{sight.image_url}" %>
      <h4><%= sight.name %></h4>
    <% end %>
  </li>
  <%end%>
</div>

<%= link_to 'Back', user_path(current_user) %>
