<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HighlineCompanionApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Lekton|Playfair+Display|Six+Caps|Ultra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow|Ultra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
  </head>



  <body>
    <div class="wrapper">

    <div class="ui secondary pointing menu">
      <% if current_user != nil %>
  <a class="item">
        <%=link_to 'Home', user_path(current_user), method: :get %>
      </a>
      <a class="item">
        <%=link_to 'Events', events_path, method: :get %>
      </a>
      <a class="item">
        <%=link_to 'Sights', sights_path, method: :get %>
      </a>
      <a class="item">
        <%=link_to 'Donate', sight_funds_path, method: :get%>
      </a>
      <div class="right menu">
        <a class="ui item">
          <%=link_to 'Logout', logout_path, method: :delete %>
        </a>
      </div>
    <% end %>
    </div>





    <%= yield %>
</div>
  </body>
</html>
